<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0V15H20V0H0ZM18 1.875V3.03009L10 7.36041L2 3.03009V1.875H18ZM2 13.125V5.19534L10 9.525L18 5.19516V13.125H2Z" fill="black"></path>
<title>Envelope</title></svg>
