<style>
  .custom-image-section img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
<section class="custom-image">
  {{
    section.settings.image1
    | image_url: width: 1920
    | image_tag: width: '1920px', class: 'image-custom', load: 'lazy'
  }}
</section>

{% schema %}
{
  "name": "Custom image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Imagen Desktop"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Imagen Telefono"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
