{% for collection in section.settings.collection_list %}
  <span><a href="#">{{ collection.title }}</a></span>
{%endfor%}

<div class="left">
   <div class="collection-image">
     <img src="{{ collection.image.image_url }}" alt="">
   </div>
 <a href="#" class="btn-collections-all"></a>
</div>
<div class="right">
   
   <div class="product-container">
       <a href="#"><img src="" alt=""></a>
       <a href="#"><p>{{ settings.section.product-list }}</p></a>
     </div>
</div>


{% schema %}
  {
    "name": "Custom collection section",
    "settings": [

    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 8
    }
      
    ],
    "presets": [
      {
        "category": "custom-collection-banner",
        "name": "Custom collection section Ashley"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}