<style>
  .custom-image{
    width: 100%;
  }
  .custom-image img {
    width: 100%;
    height: auto;
  }
  .image-custom-r{
    display: none;
  }
  .image-custom-d{
    display: block;
  }
  @media only screen and (max-width: 768px) {
    .image-custom-r{
      display: block;
    }
    .image-custom-d{
      display: none;
    }
  }
</style>
<a href="{{ section.settings.url }}" class="custom-image {% if section.settings.width == false %}page-width{% endif %}">
  {% if section.settings.image1 != blank %}
    {{
      section.settings.image1
      | image_url: width: 1920
      | image_tag: width: '1920px', class: 'image-custom-d', load: 'lazy'
    }}
  {% endif %}
  {% if section.settings.image2 != blank %}
    {{
      section.settings.image2
      | image_url: width: 768
      | image_tag: width: '768px', class: 'image-custom-r', load: 'lazy'
    }}
  {% endif %}
</a>

{% schema %}
{
  "name": "Custom image",
  "settings": [
    {
      "type": "checkbox",
      "id": "width",
      "label": "Full width?"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Imagen Desktop"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Imagen Telefono"
    },
    {
      "type": "url",
      "id": "url",
      "label": "URL"
    }
  ],
  "presets": [
    {
      "name": "custom image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
