<style>
  .pagination{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
</style>



<script>

const selectedCollection = (colletionTitle) => {
  return(colletionTitle);
};

</script>

{% assign selected-title = "bar" %}

<div class="pagination">
{% for collection in section.settings.collection_list %}
  <span onclick="selectedCollection()"><a href="#">{{ collection.title }}</a></span>
{%endfor%}
</div>

{% for collection in section.settings.collection_list %}

<script>
  console.log({{ collection.title }})
  console.log(selectedCollection)
if ({{ collection.title }} === selectedCollection){
  
  return(
    console.log(selectedCollection)
  )
}
  

</script>
  


  {% endif %}




{%endfor%}

{% schema %}
  {
    "name": "Custom collection section",
    "settings": [

    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 6
    }
      
    ],
    "presets": [
      {
        "category": "custom-collection-banner",
        "name": "Custom collection section Ashley"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}