
<div class="hero-banner-container">
  <div class="inside-container">
    <div class="content-container"></div>
    <div class="content-spacer"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom hero banner",
    "settings": [
      {
            "type": "image_picker",
            "label": "hero image",
            "id": "image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .hero-banner-container{
    width: 100%;
    min-height: 340px;
    max-height: 100%;
    background-image: url({{ section.settings.image | image_url }});
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}