{% assign pageobject = page.metafields.custom.reference %}

{{ pageobject | metafield_text }}

{% assign macrotitle = page.title | replace: ' ', '-' %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}


  <h1>{{ category.name }}</h1>
    {% assign media_gid = category.image | metafield_tag %}

{{ media_gid }}


