{% style %}
  .section-container-2{
    height: 200px;
  }
{% endstyle %}

<div class="page-width">
  <div class="section-container-2"></div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory 2",
  "settings": [
    {
      "type": "text",
      "id": "x-heading",
      "label": "Heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "x-text",
      "label": "Button text",
      "default": "Styles for days."
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-2",
      "name": "Custom macrocategory 2 section Ashley"
    }
  ]
}
{% endschema %}
