{% style %}

{% endstyle %}


{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="page-width">
  <div class="macro-section-4">
    
  </div>
</div>

{% schema %}
{
  "name": "macro-category-4",
  "settings": [],
  "presets": [
  {
    "category": "macro-category-4",
    "name": "Custom macrocategory 4 section Ashley"
  }
]
}
{% endschema %}
