{% assign macrotitle = page.title | replace: ' ', '-' | downcase | slugify %}
{% assign category = shop.metaobjects %}


  <h1>{{ category.name }}</h1>

    {% assign image_url = category.image %}
    <h1>{{ image_url }}</h1>


