{% assign macrotitle = page.title | replace: ' ', '-' | downcase | slugify %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}


  <h1>{{ category['name'] }}</h1>

    {% assign image_url = category['image']['src'] %}
    <h1>{{ image_url }}</h1>


