{{ 'macrocategories.css' | asset_url | stylesheet_tag }}
{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<p>
  {{ macrocategory.macro_page_text }}
</p>