{% assign pageobject = page.metafields.custom.reference | metafield_tag %}

<h1>{{ pageobject }}</h1>

{% assign macrotitle = page.title | replace: ' ', '-' | downcase | slugify %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}


  <h1>{{ category.name }}</h1>
    {% assign media_gid = category.image | metafield_tag %}

  <h1>{{ media_gid }}</h1>


