{% style %}
  .section-macro-2{
    margin: 30px 0 30px 0;
  }
  .section-container-2{
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: row;
  }
  .section-container-2 .left{
    width:30%;
    background-color: #F3EFEA;
  }
  .section-container-2 .right{
    width: 70%;
    background-color: #D3D3D3;
  }
  .bolded-h{
    line-height: 32px;
  }
{% endstyle %}
<div class="section-macro-2">
  <div class="page-width">
    <div class="section-container-2">
      <div class="left">
        <p class="bolded-h">
          <strong>{{ section.settings['x-heading'] }}</strong>
        </p>
        <a href="#">
          <p>{{ section.settings['x-text'] }}</p>
        </a>
      </div>
      <div class="right">{{ section.settings['x-text'] }}</div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory 2",
  "settings": [
    {
      "type": "text",
      "id": "x-heading",
      "label": "Heading",
      "default": "refined <br> relaxation"
    }, {
      "type": "text",
      "id": "x-text",
      "label": "Button text",
      "default": "shop all living room"
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-2",
      "name": "Custom macrocategory 2 section Ashley"
    }
  ]
}
{% endschema %}
