{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle = page.title | replace: ' ', '-' %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}

  
  <h1>{{ category.name }}</h1>
  {{ category.image | metafield_tag }}
  {{ category.subcategories | parse }}

  


