{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

<div class="text-macro-7">
  <p>
    {{ macrocategory.macro_page_text }}
  </p>
  <div>
    <h1>Pruebas</h1>
    
  <ul>
                        {% assign macroitems = page.metafields.custom.reference.value %}
                        {% assign subcategories = macroitems.subcategories %}
                        <h2>Funciono puta</h2>
                        {% for subcategory in subcategories.value %}
                          <li>{{ subcategory.name }}</li>
                        {%- endfor -%}
                      </ul>
    
  </div>
</div>
