{% style %}
  .section-macro-2{
    margin: 30px 0 30px 0;
  }

  .section-container-2{
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: row;
  }
  .section-container-2 .left{
    width:30%;
    background-color: gray;
  }
  .section-container-2 .right{
    width: 70%;
    background-color: #D3D3D3;
  }
{% endstyle %}
<div class="section-macro-2">
  <div class="page-width">
    <div class="section-container-2">
      <div class="left">{{ section.settings['x-heading'] }}</div>
      <div class="right">{{ section.settings['x-text'] }}</div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory 2",
  "settings": [
    {
      "type": "text",
      "id": "x-heading",
      "label": "Heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "x-text",
      "label": "Button text",
      "default": "Styles for days."
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-2",
      "name": "Custom macrocategory 2 section Ashley"
    }
  ]
}
{% endschema %}
