{% style %}
.heading-categories{
  font-size: 24px;
  font-weight: 400;
}
{% endstyle %}


{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="page-width">
  <p class="heading-categories">Shop by category</p>
  <div class="macro-section-4">
  <div class="subcategories">
    {% for subcategory in subcategories.value  %}
      <div class="subcategory">
        {{ subcategory.name }}
      </div>
    {% endfor %}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "macro-category-4",
  "settings": [],
  "presets": [
  {
    "category": "macro-category-4",
    "name": "Custom macrocategory 4 section Ashley"
  }
]
}
{% endschema %}
