{{ 'macrocategories.css' | asset_url | stylesheet_tag }}
{% assign macrocategory = page.metafields.custom.reference.value %}
<div class="text-macro-7">
  <p>
    {{ macrocategory.macro_page_text }}
  </p>
  <div>
  <h1> Pruebas</h1>
</div>
</div>
