{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = shop.metaobjects.macro_categories.values %}
<div class="text-macro-7">
  <p>
    {{ macrocategory.macro_page_text }}
  </p>
  <div>
    <h1>Pruebas</h1>
    
{% assign subcategories = macrocategory.subcategories %}

{%- for macrocategory in macrocategories -%}
 <h2>{{ macrocategory.name}}</h2> 
  {%- endfor -%}
  
    <ul>
      {% for subcategory in subcategories.value %}
        <li>{{ subcategory.name }}</li>
      {%- endfor -%}
    </ul>
  </div>
</div>
