{% assign macrotitle = page.title | replace: ' ', '-' | downcase | slugify %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}


  <h1>{{ category.name }}</h1>
    {% assign media_gid = category.image.preview_image %}

{% assign file = media_gid | parse_gid | media_file %}
{% assign file_url = file | asset_url %}

<a>{{ media_gid }}</a>


