{% style %}
.heading-categories-5{
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
}
.collections-5{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.collection-5 {
  width: 48%;
  margin: 0px 1% 80px 1%;
}
.collection-5 p{
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
.collection-5 p::after{
  margin-left: 5px;
  background-image: url('https://cdn.shopify.com/s/files/1/0703/9723/1413/files/32213.png?v=1679027077');
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  content:"";
}
.collection-5 img{
  position: center;
  object-fit: cover;
  height: 295px;
  width: 80%;
}
{% endstyle %}


{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
{% for subcategory in subcategories.value %}
{% if forloop.index == section.settings.subid %}
{% assign collectionsarray = subcategory.collections %}
<div class="page-width">
  <p class="heading-categories-5">{{ subcategory.macro_section_title }}</p>
  <div class="macro-section-5">
  <div class="collections-5">
    {% for collection in collectionsarray.value  %}
      <div class="collection-5">
        <img src="{{ collection.metafields.image.room | image_url }}" alt="collection image">
        <p>{{ collection.title }}</p>
      </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% schema %}
{
  "name": "macro-category-5",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 2
    }
  ],
  "presets": [
  {
    "category": "macro-category-5",
    "name": "Custom macrocategory 5 section Ashley"
  }
]
}
{% endschema %}
