{% style %}
.heading-categories{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
.subcategories{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.subcategory {
  width: 18%;
  margin: 10px;
}
.subcategory p{
  padding: 20px 35px 20px 35px;
}
.subcategory img{
  background-color: #F2F2F2;
  border-radius: 50%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width:100%;
}
{% endstyle %}


{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="page-width">
  <p class="heading-categories">Shop by category</p>
  <div class="macro-section-4">
  <div class="subcategories">
    {% for subcategory in subcategories.value  %}
      <div class="subcategory">
        <img src="{{ subcategory.koimage | image_url }}" alt="sub image">
        <p>{{ subcategory.name }}</p>
      </div>
    {% endfor %}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "macro-category-4",
  "settings": [],
  "presets": [
  {
    "category": "macro-category-4",
    "name": "Custom macrocategory 4 section Ashley"
  }
]
}
{% endschema %}
