<div>
  <div class="section-title-container">
    <p>
      {{ section.settings.title }}
    </p>
  </div>
  <div class="column-container">
    {% for block in section.blocks %}
      <a href="{{ block.settings.url }}">
        <p>
          {{ block.settings.title }}
        </p>
        {{ block.settings.image | image_url: width: 300 | image_tag: width: '300px', class: 'column-image' }}
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "help",
  "settings": [
   {
     "type": "text",
     "id": "title",
     "label": "title"
   }
  ],
  	"blocks": [
     {
       "name": "columna",
       "type": "columna",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "url",
           "id": "url",
           "label": "URL"
         },
         {
           "type": "text",
           "id": "title",
           "label": "title"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "custom help"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
