<pf class="bg-linen">
  <section class="preguntas-frecuentes page-width">
    <container>
      <h5 class="subtitulo-3 s3" id="subtitulo-preguntas">
        {{ section.settings['subtitle-preguntas'] }}
      </h5>
      <h1 class="titulo-1 t1" id="titulo-preguntas">
        {{ section.settings['title-preguntas'] }}
      </h1>
    </container>
    <preguntas>
      {% for block in section.blocks %}
        <faq class="faq-container">
          <question class="FAQ-title subtitulo-3">
            {{ block.settings['FAQ-title'] }}
            {% render 'icon-arrow-right-dropdown' %}
          </question>
          <answer class="FAQ-text parrafo-2">
            {{ block.settings['FAQ-text'] }}
          </answer>
        </faq>
      {% endfor %}
    </preguntas>
  </section>
</pf>
<script>
  
  /* FAQ DROPDOWN ANIMATION */
document.addEventListener('DOMContentLoaded', function() {
  var faqTitles = document.querySelectorAll('.FAQ-title');
  var openAnswer = null; // Keeps track of the currently open answer
  var openTitle = null; // Keeps track of the currently open FAQ title

  faqTitles.forEach(function(title) {
    title.addEventListener('click', function() {
      var answer = this.nextElementSibling;

      if (openAnswer === answer) {
        // Clicking on the same FAQ title again, close the answer and rotate the SVG back
        toggleSlide(answer);
        rotateSvg(this, '0deg');
        openAnswer = null;
        openTitle = null;
      } else {
        // Clicking on a different FAQ title
        if (openAnswer) {
          // Close the previously open answer and rotate its SVG back
          toggleSlide(openAnswer);
          rotateSvg(openTitle, '0deg');
        }

        // Open the clicked answer and rotate its SVG
        toggleSlide(answer);
        rotateSvg(this, '90deg');
        openAnswer = answer;
        openTitle = this;
      }
    });
  });
});

function toggleSlide(element) {
  var isHidden = getComputedStyle(element).height === '0px';

  if (isHidden) {
    element.style.height = 'auto';
    element.style.marginTop = '15px';
    element.style.marginBottom = '10px';
  } else {
    element.style.height = '0px';
    element.style.marginTop = '0px';
    element.style.marginBottom = '0px';
  }
}

function rotateSvg(title, rotation) {
  var svgElement = title.querySelector('svg');
  svgElement.style.transform = `rotate(${rotation})`;
}


</script>

{% schema %}
 {
   "name": "products faq",
   "settings": [
     {
       "type": "text",
       "id": "arreglos-title",
       "label": "Titulo",
       "default": "Lorem ipsum dolor sit amet"
     }, {
       "type": "text",
       "id": "arreglos-subtitle",
       "label": "Subtitulo",
       "default": "Arreglos Funebres"
     }, {
       "type": "collection",
       "id": "collection",
       "label": "collection"
     }, {
       "type": "text",
       "id": "button-text",
       "label": "Boton de texto",
       "default": "Añadir al carrito"
     }, {
		"type": "text",
		"id": "title-preguntas",
		"label": "Title section",
		"default": "Sobre Cardó"
	}, {
		"type": "text",
		"id": "subtitle-preguntas",
		"label": "subtitle-preguntas",
		"default": "preguntas frecuentes"
	}, {
     "type": "text",
     "id": "subtitulo-fotos",
     "label": "Ver Todos",
     "default": "Ver todos"
   }
],
"blocks": [
	{
		"type": "FAQ",
		"name": "FAQ",
        "limit": 5,
		"settings": [
       {
         "type": "text",
         "id": "FAQ-title",
         "label": "FAQ-title",
         "default": "Example"
       }, {
         "type": "text",
         "id": "FAQ-text",
         "label": "FAQ-text",
         "default": "Example"
       }
		]
	}
],
  "presets": [
    {
      "name": "faq"
    }
  ]
 }
{% endschema %}
