{% assign sub = page.metafields.custom.reference %}

{% assign subtitle1 = page.title | replace: ' - ', '-' %}
{% assign subtitle = subtitle1 | replace: ' ', '-' %}
{% assign categories = shop.metaobjects.sub_categories.values %}

{% for category in categories %}
<div>
{{ category.name }}
{{ category.image | metafield_tag}}
{% assign collections = category.collections.values %}

{% for collection in collections %}
<div>
{{ collection.title }}
</div>
{% endfor %}
</div>
{% endfor %}

  