{% assign sub = page.metafields.custom.reference %}

{% assign subtitle1 = page.title | replace: ' - ', '-' %}
{% assign subtitle = subtitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects['sub_categories'][subtitle] %}

  
  <h1>{{ category.name }}</h1>
  {{ category.image | metafield_tag }}
  {{ category.collections.first }}

  