{% assign sub = page.metafields.custom.reference %}

{% assign subtitle = page.title | replace: ' ', '-' %}
{% assign category = shop.metaobjects['sub_categories'][subtitle] %}

  
  <h1>{{ category.name }}</h1>
  {{ category.image | metafield_tag }}
  {{ category.collections }}

  