{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign subcategories = shop.metaobjects.sub_categories %}
{% assign collections = subcategory.collections %}
<div class="page-width">
  {% for collection in collections.value %}
    {% assign collections = subcategory.collections %}
      <p class="heading-categories-6">Explore more {{ collection.name}}</p>
      <div class="macro-section-6">
        <div class="subcategories-6">
          <div class="subcategory-scroll">
            {% for subcategory in subcategories.value %}
              <div class="subcategory-6">
                <img src="{{ subcategory.image | image_url }}" alt="collection image">
                <p>{{ subcategory.name }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "sub-category-5",
  "settings": [],
  "presets": [
  {
    "category": "sub-category-5",
    "name": "Custom subcategory 5 section Ashley"
  }
]
}
{% endschema %}
