{% assign sub = page.metafields.custom.reference %}

{% assign subtitle1 = page.title | replace: ' - ', '-' %}
{% assign subtitle = subtitle1 | replace: ' ', '-' %}
{% assign categories = shop.metaobjects.sub_categories.values %}

{% comment %}
  I'm separating the categories array from the collections array
  to see them in different sections and identify differences between them.
{% endcomment %}

{% for category in categories %}
<div>
<h1>Category: {{ category.name }}</h1>
{{ category.image | metafield_tag}}
  
<hr>
  
{% assign collections = category.collections.values %}
  
Collection: {{ collections }}
{% for collection in collections %}
<div>
<h1>{{ collection.title }}</h1>
</div>
{% endfor %}
</div>
{% endfor %}

  