{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle = page.title | replace: ' ', '-' %}
{% assign category = shop.metaobjects['sub_categories'][macrotitle] %}

  
  <h1>{{ category.name }}</h1>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  {% for sub in subs %}
      {{ sub }}
    {% endfor %}

  