{{ 'subcategories.css' | asset_url | stylesheet_tag }}

{% assign subcategory = page.metafields.custom.reference.value %}
{% assign collections = subcategory.collections %}
{% for collection in collections.value %}
  {% if forloop.index == section.settings.subid %}
    {% assign collectionsarray = subcategory.collections %}
    <div class="page-width">
      <p class="heading-subcategory-6">{{ subcategory.name }}</p>
      <div class="macro-section-5">
        <div class="collections-5">
          {% for collection in collectionsarray.value %}
            <div class="collection-5">
              <img src="{{ collection.metafields.image.room | image_url }}" alt="collection image">
              <p>{{ collection.title }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "macro-category-5",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 2
    }
  ],
  "presets": [
  {
    "category": "macro-category-5",
    "name": "Custom macrocategory 5 section Ashley"
  }
]
}
{% endschema %}
