* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
.macro-cat-title {
  font-size: 28px;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  margin: .5% 1% 2% 0;
}
.macro-title {
  font-size: 3rem;
  padding: 0 2px 15%;
  font-weight: bolder;
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 32px;
}
.container {
  padding: 50px 0px;
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.column-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column {
  width: 30%;
}
.sub-image-container {
  position: relative;
  margin: 0px 10px;
}
.sub-image-container img {
  width: 100%;
  max-width: 100%;
  height: 275px;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}
.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 12%;
  top: 0;
  right: 0;
}
.sale p {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 200;
  margin: 3px 0px 0px 9px;
  padding: 10px 20px 10px 20px;
}
.sale p sup {
  font-size: 0.6em;
}
.heading span {
  margin: 0 0 0 1px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
}
.bolded-h {
  margin: 0px 17px 30px 20px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.4px;
}
.macro-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  margin: 3px 0px 0px 1px;
  padding-bottom: 10px;
}
svg.next-icon {
  transform: scale(.4);
  width: auto;
  margin-top: -13px;
  margin-left: -2%;
}
.link-container {
  display:flex;
}
.section-macro-2 {
  margin: 30px 0 30px 0;
}
.section-container-2 {
  height: 400px;
  display: flex;
  margin: 20px 0 20px 0;
}
.section-container-2 .left {
  width: 24%;
  padding: 1%;
  text-align: left;
}
.section-container-2 .right {
  width: 80%;
  background-position: center;
  background-repeat: norepeat;
  background-size: cover;
}
.section-bottom-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.section-bottom-2 .column {
  width: 25%;
  white-space: nowrap;
}
.bolded-h2 {
  padding: 50% 0 5% 9%;
}
.bolded-h2 strong {
  line-height: 32px;
  font-size: 3rem;
  font-weight: bolder;
}
.column .img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
  filter: contrast(1);
}
.column a {
  color: black;
}
.sub-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  margin: 10px 0px 20px 0px;
  padding-bottom: 10px;
  width: 80%;
}
.link-shop {
  display: inline-block;
  width: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 10%;
  padding: 5px 7px 5px 7px;
  border-width: 2px;
  border-style: solid;
  text-transform: lowercase;
}
.link-shop a {
  display: inline-block;
  color: black;
  text-transform: lowercase;
}
.section-container-3 {
  height: auto;
  display: flex;
  margin: 30px 0;
}
.leftm3 {
  width: 50%;
  background-color: #d3d3d3;
  background-position: center;
  background-size: cover;
}
.section-macro-3 .right {
  width: 50%;
  display: grid;
  overflow: hidden;
}
.img-item {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  justify-content: center;
  padding: 10px;
}
.right .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 5px;
  text-align: center;
}
.link-shop-m3 {
  display: inline-block;
  width: auto;
  text-align: center;
  font-size: 14px;
}
.collection-link {
  color: black;
  font-weight: bolder;
  text-transform: lowercase;
}
p.collection-title {
  font-weight: bolder;
  font-size: 14px;
  max-width: 100%;
  color: black;
  margin-bottom: 25px;
}
.heading-categories {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
.subcategories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.subcategory {
  width: 15%;
  margin: 10px;
}
.subcategory p {
  padding: 7%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.subcategory .imagewrap {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.subcategory img {
  padding: 20px;
  position: center;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width: 100%;
}
.heading-categories-5 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
}
.collections-5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.collection-5 {
  width: 48%;
  margin: 0px 1% 80px 1%;
}
.collection-5 p {
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
.collection-5 img {
  position: center;
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.heading-categories-6 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: left;
}
.subcategories-6 {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
.subcategory-scroll {
  width: 200%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.subcategory-6 {
  width: 20%;
  margin: 0 .5% 1% 1%;
}
.subcategory-6 p {
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  color: black;
}
.subcategory-6 img {
  aspect-ratio: 1 / 1;
  position: center;
  object-fit: cover;
  width: 100%;
}
.text-macro-7 {
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .bolded-h2 {
    padding: 4%;
    width: 50%;
  }
  .bolded-h2 strong {
    line-height: 1.1em;
    font-size: 1.8em;
    font-weight: bolder;
  }
  .section-container-2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .section-container-2 .left {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f3efea;
  }
  .section-container-2 .right {
    width: 100%;
    height: 24em;
  }
  .section-bottom-2 .column {
    width: 31%;
    margin-bottom: 20px;
    margin-right: 5px;
  }
  .section-macro-3 .right {
    width: auto;
  }
  .macro-link{
    font-size: 1.2rem;
  }
  .link-shop {
    margin-left: auto;
    margin-right: 3%;
    height: 20%;
  }
  .link-shop a {
    white-space: nowrap;
  }
  .column img {
    max-width: 100%;
  }
  .sub-link {
    font-size: 0.6em;
    margin-left: 3px;
    white-space: normal;
    word-wrap: break-word;
  }
  .collections-5 {
    flex-direction: column;
  }
  .collection-5 {
    width: 100%;
    margin: 0 0 2%;
  }
  .collection-5 img {
    max-height: 180px;
    max-width: 100%;
  }
  .heading-categories-5 {
    font-size: 1.4em;
    text-align: left;
    margin-top: 40px;
  }
  .collection-5 p {
    line-height: 1.1em;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .column {
    width: 100%;
    margin-bottom: 2rem;
  }
  .sub-image-container {
    margin: 0;
  }
  .macro-cat-title {
    font-size: 2.5rem;
    margin: 1.25rem 1vw;
  }
  .heading {
    flex-direction: column;
    align-items: center;
  }
  .bolded-h {
    text-align: center;
    margin: 0 1rem 2rem;
    font-size: 2.4rem;
  }
  .container {
    padding-top: 3rem;
    padding-bottom: 0;
  }
  .column-container {
    flex-wrap: wrap;
    padding: 1.5rem;
  }
  .section-container-3 {
    flex-direction: column;
  }
  .leftm3 {
    order: 1;
    width: 100%;
    height: 25em;
  }
  .right {
    order: 2;
  }
  .section-macro-3 .macro-title {
    font-size: 1.3em;
    padding: 40px 2px 24px;
    line-height: 1.3em;
  }
  .collection-link {
    font-size: 0.9em;
  }
  p.collection-title {
    font-size: 0.88em;
  }
  .img-item {
    height: 25vh;
  }
  .heading-categories-6 {
    font-size: 1.2em;
  }
 
  .macro-section-6 .subcategories-6 p {
    font-size: 0.8em;
  }
  .macro-section-6 .subcategories-6 img {
    width: 60%;
  }
  .macro-section-6 p.collection-title {
    width: 44%;
  }
  .subcategory-6 {
    flex: 1 0 100%;
    max-width: 50%;
    margin-right: -19%;
  }
  .macro-section-5 .next-icon{
    transform: scale(.3);
    margin-top: -20px;
    margin-left: -4%;
  }
  .macro-section-6 .next-icon{
    margin-top: -16px;
    margin-left: -3%;
  }
}
@media only screen and (max-width: 678px) {
  .subcategories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .subcategory {
    width: 80%;
    margin-left: 8%;
  }
  .subcategory p {
    font-size: 1.5rem;
  }
}
